---
export interface Props {
  title: string;
  description: string;
  imagePath: string;
  robots: string;
}

const { title, description, imagePath, robots } = Astro.props as Props;

const basePath = import.meta.env.SITE_URL;
const imgUrl = `${basePath}${imagePath}`;

---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- SEO  -->
  <meta name="description" content={description} />
  <meta name="generator" content={Astro.generator} />
  <link rel="canonical" href={Astro.url} />
  
  <!-- Open Graph -->
  <meta property="og:site_name" content="Subcode Africa" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:image" content={imgUrl} />

  <!-- Twitter -->
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content={imgUrl} />
  

  {robots && <meta name="robots" content="noindex, nofollow" />}

  <!-- FavIcon & related -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet"
  />

  <title>{title}</title>
</head>
